## Create a new BQ dataset to store all of your modeled tables. The dataset should be named datamart.

In [1]:
dataset_id = "datamart"

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'still-primer-302701:datamart' successfully created.

## Create your modeled tables by following our BigQuery design guidelines

#### For each field in your modeled tables, choose a primitive data type that most precisely represents its domain of values

In [3]:
%%bigquery
CREATE TABLE datamart.States AS
select  DISTINCT u.Geographic_Area_Name as state, u.id as id, 'US' as country from uscb_staging.Social_Characteristics u 
join fda_staging.US_COVID_Cases c on c.Province_State = u.Geographic_Area_Name;

Empty DataFrame
Columns: []
Index: []

In [4]:
%%bigquery
CREATE TABLE datamart.Cases AS
SELECT Province_State as state, 
CAST(Last_Update as DATE) as last_Update, 
concat(Province_State, cast(last_Update as string)) as id,
Total_Test_Results as total_test_results, 
Confirmed as confirmed, Deaths as deaths, 
Recovered as recovered, Active as active, 
Case_Fatality_Ratio as case_fatality_ratio, 
Testing_Rate as testing_rate 
FROM fda_staging.US_COVID_Cases;

Empty DataFrame
Columns: []
Index: []

In [5]:
%%bigquery
CREATE TABLE datamart.Location AS
SELECT DISTINCT Province_State as state, Lat as latitude, Long_ as longitude FROM fda_staging.US_COVID_Cases;

Empty DataFrame
Columns: []
Index: []

In [6]:
%%bigquery
CREATE TABLE datamart.Households AS
SELECT DISTINCT Geographic_Area_Name as state, 
Estimate__HOUSEHOLDS_BY_TYPE__Total_households as total_households, 
Estimate__HOUSEHOLDS_BY_TYPE__Total_households__Married_couple_family as married_couple_family, 
Estimate__HOUSEHOLDS_BY_TYPE__Total_households__Married_couple_family__With_own_children_of_the_householder_under_18_years as married_couple_with_children, 
Estimate__HOUSEHOLDS_BY_TYPE__Total_households__Cohabiting_couple_household as cohabiting_couple,
Estimate__HOUSEHOLDS_BY_TYPE__Total_households__Cohabiting_couple_household__With_own_children_of_the_householder_under_18_years as cohabiting_couple_with_children, 
Estimate__HOUSEHOLDS_BY_TYPE__Total_households__Male_householder__no_spouse_partner_present as male_no_spouse,
Estimate__HOUSEHOLDS_BY_TYPE__Total_households__Female_householder__no_spouse_partner_present as female_no_spouse,
Estimate__HOUSEHOLDS_BY_TYPE__Total_households__Households_with_one_or_more_people_65_years_and_over as family_with_elders,
Estimate__HOUSEHOLDS_BY_TYPE__Total_households__Average_household_size as avg_household_size, 
Estimate__HOUSEHOLDS_BY_TYPE__Total_households__Average_family_size as avg_family_Size 
FROM uscb_staging.Social_Characteristics;

Empty DataFrame
Columns: []
Index: []

In [7]:
%%bigquery
CREATE TABLE datamart.Education AS 
SELECT DISTINCT Geographic_Area_Name as state, 
Estimate__SCHOOL_ENROLLMENT__Population_3_years_and_over_enrolled_in_school as over_3yo_enrolled, 
Estimate__SCHOOL_ENROLLMENT__Population_3_years_and_over_enrolled_in_school__High_school__grades_9_12_ as over_3yo_in_HS,
Estimate__SCHOOL_ENROLLMENT__Population_3_years_and_over_enrolled_in_school__College_or_graduate_school as over_3yo_in_college_or_grad,
Estimate__EDUCATIONAL_ATTAINMENT__Population_25_years_and_over as over_25yo,
Estimate__EDUCATIONAL_ATTAINMENT__Population_25_years_and_over__High_school_graduate__includes_equivalency_ as over_25yo_HS_grad,
Estimate__EDUCATIONAL_ATTAINMENT__Population_25_years_and_over__Some_college__no_degree as over_25yo_no_degree,
Estimate__EDUCATIONAL_ATTAINMENT__Population_25_years_and_over__Bachelor_s_degree as over_25yo_bachelors, 
Estimate__EDUCATIONAL_ATTAINMENT__Population_25_years_and_over__Graduate_or_professional_degree as over_25yo_prof, 
Estimate__EDUCATIONAL_ATTAINMENT__Population_25_years_and_over__High_school_graduate_or_higher as over_25yo_HS_or_higher
FROM uscb_staging.Social_Characteristics;

Empty DataFrame
Columns: []
Index: []

In [8]:
%%bigquery
CREATE TABLE datamart.Disability AS
SELECT DISTINCT Geographic_Area_Name as state,
Estimate__DISABILITY_STATUS_OF_THE_CIVILIAN_NONINSTITUTIONALIZED_POPULATION__Total_Civilian_Noninstitutionalized_Population as noninstitutionalized,
Estimate__DISABILITY_STATUS_OF_THE_CIVILIAN_NONINSTITUTIONALIZED_POPULATION__Total_Civilian_Noninstitutionalized_Population__With_a_disability as noninstitutionalized_with_disability, 
Estimate__DISABILITY_STATUS_OF_THE_CIVILIAN_NONINSTITUTIONALIZED_POPULATION__65_years_and_over as noninstitutionalized_65over,
Estimate__DISABILITY_STATUS_OF_THE_CIVILIAN_NONINSTITUTIONALIZED_POPULATION__65_years_and_over__With_a_disability as noninstitutionalized_65over_with_disability
from uscb_staging.Social_Characteristics;

Empty DataFrame
Columns: []
Index: []

In [9]:
%%bigquery
CREATE TABLE datamart.Citizenship AS
SELECT DISTINCT Geographic_Area_Name as state, 
Percent__PLACE_OF_BIRTH__Total_population__Foreign_born as percent_foreign_born, 
Percent__U_S__CITIZENSHIP_STATUS__Foreign_born_population__Naturalized_U_S__citizen as percent_naturalized, 
Percent__U_S__CITIZENSHIP_STATUS__Foreign_born_population__Not_a_U_S__citizen as percent_noncitizen, 
Percent__WORLD_REGION_OF_BIRTH_OF_FOREIGN_BORN__Foreign_born_population__excluding_population_born_at_sea__Asia as percent_from_Asia, 
Percent__WORLD_REGION_OF_BIRTH_OF_FOREIGN_BORN__Foreign_born_population__excluding_population_born_at_sea__Africa as percent_from_Africa,
Percent__WORLD_REGION_OF_BIRTH_OF_FOREIGN_BORN__Foreign_born_population__excluding_population_born_at_sea__Latin_America as percent_from_LatinAmerica 
from uscb_staging.Social_Characteristics;

Empty DataFrame
Columns: []
Index: []

In [10]:
%%bigquery
CREATE TABLE datamart.Ancestry AS
SELECT DISTINCT Geographic_Area_Name as state, 
Percent__ANCESTRY__Total_population__American as percent_American,
Percent__ANCESTRY__Total_population__Arab as percent_Arab, 
Percent__ANCESTRY__Total_population__Danish as percent_Danish,
Percent__ANCESTRY__Total_population__English as percent_English,
Percent__ANCESTRY__Total_population__German as percent_German,
Percent__ANCESTRY__Total_population__Portuguese as percent_Portuguese, 
Percent__ANCESTRY__Total_population__Russian as percent_Russian, 
Percent__ANCESTRY__Total_population__Subsaharan_African as percent_Subsaharan_African 
from uscb_staging.Social_Characteristics;

Empty DataFrame
Columns: []
Index: []

In [21]:
%%bigquery

select * from datamart.Ancestry
limit 5

,state,percent_American,percent_Arab,percent_Danish,percent_English,percent_German,percent_Portuguese,percent_Russian,percent_Subsaharan_African
0,Puerto Rico,1.7,0.1,0.0,0.0,0.0,0.0,0.0,0.2
1,Iowa,4.6,0.3,1.4,7.3,31.1,0.0,0.3,1.0
2,Massachusetts,4.0,1.0,0.2,8.9,5.4,4.0,1.4,2.2
3,Idaho,5.4,0.3,1.9,14.7,15.3,0.5,0.4,0.2
4,Vermont,8.1,0.4,0.4,16.1,9.3,0.5,1.1,0.6

## Continue to explore your data by writing SQL queries on your modeled tables (first 3 use subquery w/ agregation and last 2 use aggregation)

## Find states that are on the eastern half of the United States (longitude greater than -100) and show the covid death cases of those states ordered by number of confirmed cases to see if confirmed cases and number of deaths have a direct relationship

In [22]:
%%bigquery
select c2.state, c2.deaths, c2.confirmed, l.latitude
from (select c.state, max(c.deaths) as deaths, max(c.confirmed) as confirmed from datamart.Cases c group by c.state) c2
join datamart.Location l on c2.state = l.state
where l.longitude > -100
order by c2.confirmed desc
limit 10

            state  deaths  confirmed  latitude
0           Texas   49510    2847101   31.0545
1         Florida   34330    2155744   27.7663
2        New York   51470    1986681   42.1657
3        Illinois   23920    1296267   40.3495
4    Pennsylvania   25613    1100857   40.5908
5         Georgia   19718    1081629   33.0406
6            Ohio   18991    1050112   40.3888
7      New Jersey   25094     971782   40.2989
8  North Carolina   12387     943693   35.6301
9        Michigan   17858     867624   43.3266

## Find states that are on the western half of the United states and show COVID death cases ordered by testing rate to see if there is a relationship between testing as many people as possible and covid spread/severity

In [23]:
%%bigquery
select c2.state, c2.deaths, l.latitude
from (select c.state, max(c.deaths) as deaths, max(c.testing_rate) as testing_rate from datamart.Cases c group by c.state) c2
join datamart.Location l on c2.state = l.state
where l.longitude < -100
order by c2.testing_rate desc
limit 10

        state  deaths  latitude
0      Alaska     334   61.3707
1  New Mexico    4001   34.8405
2  California   60922   36.1162
3    Colorado    6186   39.0598
4     Wyoming     703   42.7560
5     Arizona   17153   33.7298
6     Montana    1537   46.9219
7      Oregon    2457   44.5720
8      Oregon    2457   44.5720
9      Nevada    5365   38.3135

## Write a query see if there is a relationship bewteen education level and COVID deaths cases. Education level for this query will be the proportion of people who obtained a higher education degree (professional degree after going to professional school or graduate school) among those who graduated high school for each state. Higher proportion will represent more people over 25 years old chose to pursue higher education after high school.

In [24]:
%%bigquery
select c2.state, c2.deaths, e.over_25yo_prof/e.over_25yo_HS_or_higher as higher_degree_proportion
from (select c.state, max(c.deaths) as deaths from datamart.Cases c group by c.state) c2
join datamart.Education e on c2.state = e.state
order by higher_degree_proportion desc
limit 10

                  state  deaths  higher_degree_proportion
0  District of Columbia    1093                  0.369855
1         Massachusetts   17445                  0.222261
2              Maryland    8528                  0.211135
3           Connecticut    7995                  0.196673
4              Virginia   10549                  0.191426
5              New York   51470                  0.189447
6            New Jersey   25094                  0.178121
7              Colorado    6186                  0.173652
8               Vermont     242                  0.171828
9         New Hampshire    1266                  0.157099

## For each state, see how many households there are, how many households are a family one householder and no spouse, family of couples without a child for each state and order by states' household (decreasing). Show covid cases of those states as well to see if covid confirmed cases are high for those states that have more households.

In [25]:
%%bigquery
select h.state, sum(h.male_no_spouse + h.female_no_spouse) as total_no_spouse, sum(h.married_couple_family + h.cohabiting_couple) as no_child, sum(h.total_households) as total_households, sum(c.confirmed) as total_confirmed
from datamart.Households h
join datamart.Cases c on c.state = h.state
group by h.state
order by total_households desc
limit 10

,state,total_no_spouse,no_child,total_households,total_confirmed
0,California,2132391030,2736021980,4868413010,535221539
1,Texas,1652474390,2042022230,3694496620,426849072
2,Florida,1362133170,1563024670,2925157840,332225768
3,New York,1385123490,1370196950,2755320440,290049972
4,Pennsylvania,883190740,1010931390,1894122130,142972034
5,Illinois,856947010,943475210,1800422220,204931513
6,Ohio,834393660,915832140,1750225800,143577392
7,North Carolina,692779120,804369640,1497148760,131931999
8,Michigan,694556600,774299000,1468855600,111585274
9,Georgia,685561530,739942650,1425504180,165553411

## Find a relationship between COVID confirmed and/or death cases for each state and the proportion of noninstitutionalized elders with disabilities (65 y/o or above) for each state ordered from the state with the highest proportion of elders with disabilities to the lowest.

In [26]:
%%bigquery
select c.state, sum(d.noninstitutionalized_65over_with_disability)/sum(d.noninstitutionalized) as proportion_elders_w_disabilities, max(c.deaths) as deaths, max(c.confirmed) as confirmed, avg(c.testing_rate) as avg_testing_rate
from datamart.Disability d
join datamart.Cases c on c.state = d.state
group by c.state
order by proportion_elders_w_disabilities desc
limit 10

,state,proportion_elders_w_disabilities,deaths,confirmed,avg_testing_rate
0,Puerto Rico,0.102215,2194,120571,8849.075095
1,West Virginia,0.084526,2777,148071,53718.041639
2,Arkansas,0.070664,5692,333186,43152.868909
3,Maine,0.069612,763,56525,51785.146599
4,Florida,0.067706,34330,2155744,44225.545261
5,New Mexico,0.067615,4001,194868,61299.580968
6,Mississippi,0.066701,7139,308737,30065.461635
7,Alabama,0.066345,10739,521623,25480.102988
8,Kentucky,0.065577,6317,436445,42104.372385
9,Hawaii,0.065472,474,32548,36024.221704

## Create a new BQ dataset for storing your reporting views. Name the dataset reports.

In [27]:
dataset_id2 = "reports"

In [28]:
!bq --location=US mk --dataset {dataset_id2}

Dataset 'still-primer-302701:reports' successfully created.

### Import datasets for the views to be created from the two chosen queries

In [29]:
%%bigquery
CREATE TABLE reports.Cases AS
SELECT Province_State as state, 
CAST(Last_Update as DATE) as last_Update, 
Total_Test_Results as total_test_results, 
Confirmed as confirmed, Deaths as deaths, 
Recovered as recovered, Active as active, 
Case_Fatality_Ratio as case_fatality_ratio, 
Testing_Rate as testing_rate 
FROM fda_staging.US_COVID_Cases;

Empty DataFrame
Columns: []
Index: []

In [30]:
%%bigquery
CREATE TABLE reports.Education AS 
SELECT DISTINCT Geographic_Area_Name as state, 
Estimate__SCHOOL_ENROLLMENT__Population_3_years_and_over_enrolled_in_school as over_3yo_enrolled, 
Estimate__SCHOOL_ENROLLMENT__Population_3_years_and_over_enrolled_in_school__High_school__grades_9_12_ as over_3yo_in_HS,
Estimate__SCHOOL_ENROLLMENT__Population_3_years_and_over_enrolled_in_school__College_or_graduate_school as over_3yo_in_college_or_grad,
Estimate__EDUCATIONAL_ATTAINMENT__Population_25_years_and_over as over_25yo,
Estimate__EDUCATIONAL_ATTAINMENT__Population_25_years_and_over__High_school_graduate__includes_equivalency_ as over_25yo_HS_grad,
Estimate__EDUCATIONAL_ATTAINMENT__Population_25_years_and_over__Some_college__no_degree as over_25yo_no_degree,
Estimate__EDUCATIONAL_ATTAINMENT__Population_25_years_and_over__Bachelor_s_degree as over_25yo_bachelors, 
Estimate__EDUCATIONAL_ATTAINMENT__Population_25_years_and_over__Graduate_or_professional_degree as over_25yo_prof, 
Estimate__EDUCATIONAL_ATTAINMENT__Population_25_years_and_over__High_school_graduate_or_higher as over_25yo_HS_or_higher
FROM uscb_staging.Social_Characteristics;

Empty DataFrame
Columns: []
Index: []

In [31]:
%%bigquery
CREATE TABLE reports.Disability AS
SELECT DISTINCT Geographic_Area_Name as state,
Estimate__DISABILITY_STATUS_OF_THE_CIVILIAN_NONINSTITUTIONALIZED_POPULATION__Total_Civilian_Noninstitutionalized_Population as noninstitutionalized,
Estimate__DISABILITY_STATUS_OF_THE_CIVILIAN_NONINSTITUTIONALIZED_POPULATION__Total_Civilian_Noninstitutionalized_Population__With_a_disability as noninstitutionalized_with_disability, 
Estimate__DISABILITY_STATUS_OF_THE_CIVILIAN_NONINSTITUTIONALIZED_POPULATION__65_years_and_over as noninstitutionalized_65over,
Estimate__DISABILITY_STATUS_OF_THE_CIVILIAN_NONINSTITUTIONALIZED_POPULATION__65_years_and_over__With_a_disability as noninstitutionalized_65over_with_disability
from uscb_staging.Social_Characteristics;

Empty DataFrame
Columns: []
Index: []

## Choose 2 of your most interesting queries from the previous section. Create a view for each query in the reports dataset and assign the view a descriptive name (e.g. Highest_Nominated_Movies).

In [32]:
%%bigquery
CREATE VIEW reports.Higher_Degree_Proportion_and_COVID_Deaths AS
select c2.state, c2.deaths, e.over_25yo_prof/e.over_25yo_HS_or_higher as higher_degree_proportion
from (select c.state, max(c.deaths) as deaths from reports.Cases c group by c.state) c2
join reports.Education e on c2.state = e.state
order by higher_degree_proportion desc
limit 20

Empty DataFrame
Columns: []
Index: []

In [33]:
%%bigquery
CREATE VIEW reports.Highest_Proportion_of_Elders_with_Disability_Against_COVID_Deaths_by_State AS
select c.state, sum(d.noninstitutionalized_65over_with_disability)/sum(d.noninstitutionalized) as proportion_elders_w_disabilities, max(c.deaths) as deaths, max(c.confirmed) as confirmed, avg(c.testing_rate) as avg_testing_rate
from reports.Disability d
join reports.Cases c on c.state = d.state
group by c.state
order by proportion_elders_w_disabilities desc
limit 20

Empty DataFrame
Columns: []
Index: []